{% extends 'blog/base.html' %}

{% block title %}
    Confirm Delete
{% endblock %}

{% block content %}
    
    <div class="card text-center mb-3" style="width: 18rem; margin:auto;">
        <div class="card-body">
          <h5 class="card-title">Are you sure you want to delete "{{ post.title }}"?</h5>
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm</button>
            <a href="{% url 'post_list' %}" class="btn btn-primary">Cancel</a>
            </form>
        </div>
    </div>
    
{% endblock %}
